@import '../../assets/styles/variables.scss';

.ShapesSetSwitcher {
  display: flex;
  align-items: center;
  color: rgba(117, 67, 24, 0.722);
  opacity: 0.5;

  &--active {
    color: $main-color;
    opacity: 1;
  }

  &__inner {
    display: flex;
    margin: 0 15px;
  }
}